#inicio
	.secciones
		%h3 Bienvenido a sextant legal consultants
		= link_to(image_tag('content-1.png'), root_path)
	.secciones
		%h3 Bienvenido a sextant legal consultants
		= link_to(image_tag('content-2.png'), root_path)
	.secciones
		%h3 Bienvenido a sextant legal consultants
		= link_to(image_tag('content-1.png'), root_path)
	.clear