#inicio
	.secciones
		%h3 Bienvenido a sextant legal consultants
		= link_to(image_tag('content-1.png'), root_path)
		%p
			<b>Featured</b> Proyect <br>
			Código abierto, es algo sensacional se sube y compila como los demas,
			copiense y vuelvan a bajar, el código abierto se debe compilar.

	.secciones
		%h3 Bienvenido a sextant legal consultants
		= link_to(image_tag('content-2.png'), root_path)
		%p
			<b>Featured</b> Proyect <br>
			Código abierto, es algo sensacional se sube y compila como los demas,
			copiense y vuelvan a bajar, el código abierto se debe compilar.
	
	.secciones
		%h3 Bienvenido a sextant legal consultants
		= link_to(image_tag('content-3.png'), root_path)
		%p
			<b>Featured</b> Proyect <br>
			Código abierto, es algo sensacional se sube y compila como los demas,
			copiense y vuelvan a bajar, el código abierto se debe compilar.
	.clear	