#inicio
	.span1_3
		%h3 Bienvenido a sextant legal consultants
		= image_tag('content-1.png')
	.span1_3
		%h3 Bienvenido a sextant legal consultants
		= image_tag('content-2.png')
	.span1_3
		%h3 Bienvenido a sextant legal consultants
		= image_tag('content-2.png')
	.clear