$gray_low: #a6aaad;
$gray: #7d7d7d;
$blue: #252364;

ul,li{
  margin: 0;
  padding: 0;
}

#wrapper{
	width: 960px;
	margin: 0 auto;
  background-color: #000;
}

@font-face {
  font-family: "cambria";
  src: url(/fonts/cambria.eot);
  src: url(/fonts/cambria.eot?#iefix) format("embedded-opentype"), 
  	url(/fonts/cambria.woff) format("woff");
  font-style: normal;
}

.span1_3 {
    float: left;
    width: 27.33%;
    padding:3%;
}

a{
  text-decoration: none;
}
