@import "variables";
body{
	min-width: 960px;
	margin: 0;
	padding: 0;
	color: $gray;
	font-family: "cambria";
}

a{
	text-decoration: none;
	color: $gray;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	&.true{ color: $blue; }
}

.clear{ clear: both; }

.header{
	height: 157px;
	@extend #wrapper;
	img#logo{
		margin-top: 40px;
	}
	#telefono{
		float: right;
		margin-top: 30px;
	}
}

.footer{
	height:150px;
	@extend #wrapper;
	//background: $gray;
	padding-top: 10px;
}

#slideshow{
	height: 445px;
	background-color: #444;
}

#nav{
	width: 100%;
	height: 113px;
	background: url('background-menu.png');
	ul#menu{
		display: block;
		padding: 0;
		list-style: none;
		@extend #wrapper;
		li{
			display: block;
			float: left;
			width: 170px;
			margin-top: 25px;
			font-size: 25px;
			text-align: center;
		}
	}
}
