.slider-wrapper {
	position: relative;
	width: 1250px;
	margin: 0 auto;
	.border{
		position: absolute;
		width: 69px;
		height: 31px;
		left: 435px;
		top: 99.5%;
		background:url(slideshow/slider-deco.png) no-repeat;
	}
}
.nivoSlider {
	overflow: hidden;
	position: relative;
	width: auto;
	height: 445px;
	background:#fff url(slideshow/slider-1.jpg) no-repeat 50% 50%;
	img {
		position:absolute;
		max-width: none;
		top:0px;
		left:0px;
	}
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
	img { display:block; }
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:500px;
	bottom:115px;
	width:410px;
	height:120px;
	padding: 30px 25px;
	z-index:8;
	opacity: 0.8;
	overflow: hidden;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	p{
		color: #7d1d2a;
	}
	span.link a {
		float: right;
		&:hover{
			color: #7d1d2a;
		}
	}
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav {
	a {
		display:block;
		position:absolute;
		width:45px;
		height:45px;
		top:45%;
		z-index:9;
		cursor:pointer;
		background:url(slideshow/arrows.png) no-repeat;
	}
	a.nivo-prevNav {
		left: 31%;
		background-position: 0 0;
	}
	a.nivo-nextNav {
		right: 11%;
		background-position:-44px 0;
	}
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	width:80px;
	height:13px;
	position:absolute;
	left:47%;
	bottom:15px;
	margin-left:-51px; /* Tweak this to center bullets */
	z-index:210;
	padding:15px 13px 15px 17px;
	cursor:pointer;
	a {
		display:block;
		width:18px;
		height:18px;
		background:url(slideshow/bullets.png) no-repeat;
		text-indent:-9999px;
		border:0;
		float:left;
	}
	a.active {
		background-position:-19px 0;
	}
}