// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
#inicio{
	@extend #wrapper;
	.secciones{
		font-color: $blue;
		@extend .span1_3;
		h3{
			color: $blue;
			text-transform: uppercase;
			margin:0;
		}
		img{
			padding-top: 25px;
			border-top: solid  5px $gray_low;
		}
	}
}

#about{
	@extend #wrapper;
}

#clients{
	@extend #wrapper;
}

#contact{
	@extend #wrapper;
}

#services{
	@extend #wrapper;
}
