$gray_low: #a6aaad;
$gray: #7d7d7d;
$blue: #252364;

@font-face {
  font-family: "cambria";
  src: url(/fonts/cambria.eot);
  src: url(/fonts/cambria.eot?#iefix) format("embedded-opentype"), 
  	url(/fonts/cambria.woff) format("woff");
  font-style: normal;
}

.span1_3 {
    float: left;
    width: 30%;
    margin: 14px;
}

#inicio{
	.secciones{
		font-color: $blue;
		@extend .span1_3;
		h3{
			color: $blue;
			text-transform: uppercase;
			margin:0;
		}
		a{
			display: block;
			border-top: solid  5px $gray_low;
			height: 185px;
			&:hover{ border-top: solid  5px $blue; }
		}
		img{
			margin: 0 auto;
			padding-top: 25px;
		}
		p{
			text-align: justify;
		}
	}
}

#about{
}

#clients{
}

#contact{
}

#services{
}
