@mixin transition($t){
	-webkit-transition:	$t;
	-moz-transition:	$t;
	-o-transition:		$t;
	-ms-transition:		$t;
}

#myslide {
	position: relative;
	height: 100%;
}

.slide{
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	opacity: 0;
	@include transition((opacity 2s ease-in-out));
	&.active{ opacity: 1;}
	img{
		width: 37.8%;
		height: 100%;
	}
	.caption{
		position: absolute;
		width: 40%;
		top: 25%;
		left: 40%;
		z-index:1;
		color: white;
		p{ min-width: 500px; }
	}
}

#direction{
	position: absolute;
	top: 50%;
	left: 30%;
	width: 60%;
	min-width: 700px;
	a{
		display: block;
		float: left;
		width: 45px;
		height: 45px;
		background: url(slideshow/arrows.png) no-repeat;
		&.next{ 
			position: absolute; 
			right: 0%;
			background-position: -45px 0px;
		}
	}
}

#button{
	position:absolute;
	z-index: 10;
	top: 90%;
	left: 40%;
	a{
		display: block;
		float: left;
		width: 18px;
		height: 18px;
		background: url(slideshow/bullets.png) no-repeat -2px 0;
		&.active{ background-position:-21px 0; outline: none; }
	}
}