#slideshow
	.slider-wrapper
		#slider.nivoSlider
			= slide image: 'slider-2.jpg',  title: 'LOREM IPSUM DOLOR 12321', link:about_path
			= slide image: 'slider-1.jpg',  title: 'LOREM IPSUM DOLOR 2'
		.border