#slideshow
	.slider-wrapper
		#slider.nivoSlider
			= slide image: 'slider-1.jpg',  title: 'LOREM IPSUM DOLOR 1', conten: 'Frank Vandenbroucke (Mouscron, Valonia, Bélgica, 6 de noviembre de 1974 – Saly, Senegal, 12 de octubre de 2009), también conocido como “VDB” –acrónimo de su apellido- o “l’enfant terrible du cyclisme belge” ("el enfant terrible del ciclismo belga"), fue un ciclista profesional belga, considerado como uno de los mejores clasicómanos de la época moderna. Sobrino de Jean-Luc Vandenbroucke, ciclista profesional en los años 70 y 80 del siglo XX.', link:about_path
			= slide image: 'slider-1.jpg',  title: 'LOREM IPSUM DOLOR 2', conten: 'Los Simpson (en inglés, The Simpsons) es una serie estadounidense de comedia, en formato de animación, creada por Matt Groening para Fox Broadcasting Company y emitida en varios países del mundo. La serie es una sátira de la sociedad estadounidense que narra la vida y el día a día de una familia de clase media de ese país (cuyos miembros son Homer, Marge, Bart, Lisa y Maggie Simpson) que vive en un pueblo ficticio llamado Springfield.1' ,link:home_path
			= slide image: 'slider-1.jpg',  title: 'LOREM IPSUM DOLOR 2'
		.border