#slideshow
	.slider-wrapper
		#slider.nivoSlider
			= slide image: 'slider-1.jpg',  title: 'LOREM IPSUM DOLOR 1', link:about_path
			= slide image: 'slider-1.jpg',  title: 'LOREM IPSUM DOLOR 2', link:home_path
		.border